- name: Install redis
  ansible.builtin.apt:
    name: redis
    state: present
  become: yes
  notify: "restart web services"
- name: Install Python Packages
  ansible.builtin.pip: 
    name: Celery[redis], gunicorn, Django, djangorestframework, psycopg2-binary, astropy
    virtualenv: "{{ venv_root }}"
    virtualenv_command: python{{ python_version }} -m venv
  become: yes
  become_user: "{{ archive_service_user }}"
  notify: "restart web services"
- name: Copy Django admin scripts
  ansible.builtin.copy:
    src: scripts/gen_secret_key.py
    dest: "{{ venv_root }}/bin"
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    mode: 0770
  become: yes
- name: Create config directory
  ansible.builtin.file:
    mode: 0770
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    state: directory
    dest: "{{ archive_config_dir }}"
  become: yes
  notify: "restart web services"
- name: Create logging directory
  ansible.builtin.file:
    mode: 0770
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    state: directory
    dest: "{{ archive_log_dir }}"
  become: yes
  notify: "restart web services"
- name: Copy the Django project
  ansible.builtin.copy:
    src: lick_searchable_archive
    dest: "{{ package_install_dir }}"
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    mode: 0770
  become: yes
  notify: "restart web services"
  # Note gen_secret_key.py creates the key with 400 access, so we run as the archive user so that
  # Django apps can read it.
- name: Create Django secret key file
  ansible.builtin.command:
    cmd: "{{ venv_root }}/bin/python {{ venv_root }}/bin/gen_secret_key.py {{ django_secret_keyfile }}"
    creates: "{{ django_secret_keyfile }}"
  become: yes
  become_user: "{{ archive_service_user }}"
  notify: "restart web services"
- name: Copy Django settings
  ansible.builtin.template:
    mode: 0660
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    src: templates/settings.py.j2
    dest: "{{ archive_config_dir }}/{{ django_settings }}"
  become: yes
  notify: "restart web services"
- name: Link Django settings
  ansible.builtin.file:
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    state: link
    src: "{{ archive_config_dir }}/{{ django_settings }}"
    dest: "{{ package_install_dir }}/lick_searchable_archive/lick_searchable_archive/{{ django_settings }}"
  become: yes
  become_user: "{{ archive_service_user }}"
  notify: "restart web services"
- name: Copy Celery environment settings
  ansible.builtin.template:
    mode: 0660
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    src: templates/celery.env.j2
    dest: "{{ archive_config_dir }}/celery.env"
  become: yes
  notify: "restart web services"
- name: Create celery systemd service
  ansible.builtin.template:
    mode: 0660
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    src: templates/celery.service.j2
    dest: /etc/systemd/system/celery.service
  become: yes
  notify: "restart web services"
- name: Copy gunicorn config settings
  ansible.builtin.template:
    mode: 0660
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    src: templates/gunicorn.conf.py.j2
    dest: "{{ archive_config_dir }}/gunicorn.conf.py"
  become: yes
  notify: "restart web services"
- name: Create gunicorn systemd service
  ansible.builtin.template:
    mode: 0660
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    src: templates/gunicorn.service.j2
    dest: /etc/systemd/system/gunicorn.service
  become: yes
  notify: "restart web services"
