- name: Install Django rest frame work
  ansible.builtin.pip: 
    name: djangorestframework
    virtualenv: "{{ venv_root }}"
    virtualenv_command: python{{ python_version }} -m venv
  become: yes
  become_user: "{{ archive_service_user }}"
  notify: "restart web services"
  when: "'backend' in group_names"
- name: Install passlib
  ansible.builtin.pip: 
    name: passlib
    virtualenv: "{{ venv_root }}"
    virtualenv_command: python{{ python_version }} -m venv
  become: yes
  become_user: "{{ archive_service_user }}"
  notify: "restart web services"
  when: "'archive_auth' in archive_apps or 'archive_admin' in archive_apps"
- name: Copy django apps
  ansible.builtin.copy:
    src: "lick_searchable_archive/{{ item }}"
    dest: "{{ package_install_dir }}/lick_searchable_archive"
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    mode: 0770
  become: yes
  loop: "{{ archive_apps }}"
  notify: "restart web services"

  
