{% spaceless %}
    {% for widget in widget.subwidgets %}
        <label for="{{ widget.attrs.id }}" class="{{ widget.attrs.class }}_label">
            {% include widget.template_name %}
            {{ widget.label}}
        </label>
        {% comment %}
        {% if widget.wrap_label %}    
            <label for="{{ widget.attrs.id }}" class="{{ widget.attrs.class }}_label">            
        {% endif %}
        {% include widget.template_name %}
        {% if not widget.wrap_label and widget.label %}
            <label for="{{ widget.attrs.id }}" class="{{ widget.attrs.class }}_label">
        {% endif %}
        {% if widget.label %}
            {{ widget.label }}
            </label>
        {% endif %} 
        {% endcomment %}
    {% endfor %}
{% endspaceless %}
