{% if widget.total_pages > 0 %}
    {% for page, page_text in widget.page_list %}
        {% if page == "..." %}
            <span class="{{ widget.attrs.class }}">&hellip;</span>
        {% elif page < 1 or page == widget.value or page > widget.total_pages %}
            <span class="{{ widget.attrs.class }}{% if page == widget.value %}_current{% endif %}">{{ page_text }}</span> 
        {% else %}
            <button id = "{{ widget.attrs.id }}_{{ page }}" form = "{{ widget.form_id }}" class="{{ widget.attrs.class }}" name = "{{ widget.name }}" value = "{{ page }}" type="submit">{{ page_text }}</button>
        {% endif %}
    {% endfor %}
{% endif %}
