<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mt. Hamilton Data Repository Search - Beta</title>
    <link rel="stylesheet" type="text/css" href="static/frontend/repository.css"/>
</head>
<body class="search_body">
<header>
    <H1><img class="header_image" src="static/frontend/lick_logo.png" width="1150" height="1033" alt="Lick Observatory Logo">Mt. Hamilton Data Repository - Beta</H1>
    {% if username|length > 0 %}
    <form id="archive_logout" class="user_section" method="POST" action="{{ logout_url }}">
        {% csrf_token %}
        You are logged in as <em class="user_name">{{ username }}</em> <button class="user_logout" type="submit" name="logout" form="archive_logout">Logout here</button>
    </form>
    {% else %}
    <span class="user_section">
        You are not logged in. <a href="{{ login_url }}">Login here</a>
    </span>
    {% endif %}
</header>
<nav class="nav_sidebar">
    <section class="nav_section">
        <H1>Links</H1>
        <ul class="nav_links_list">
        <li>
            <a href="https://mthamilton.ucolick.org/data/">Browse the repository by date</a>
        </li>            
        <li><a href="https://mthamilton.ucolick.org/">Mt Hamilton Home Page</a></li>
        <li><a href="https://www.ucobservatories.org/">UC Observatories Home Page</a></li>
        </ul>
    </section>
    <section class = "nav_section">
        <H1>Documentation</H1>
        <ul class="nav_links_list">
        <li>            
            <a href="https://mthamilton.ucolick.org/data/help/">How to use the repository</a>
        </li>
        <li>
            <span class="nav_tbd_link">Description of all fields</span>
        </li>
    </ul>
    </section>
</nav>
<main>
<form id="archive_query" class="search_form" method="POST" action="{{ archive_url }}">
    {% csrf_token %}
    <fieldset id="search_form_terms" class="search_form_terms">
        <legend class="header2">Search By</legend>
        <ul role="list" class="search_form_list">
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_object">                        
                    <input class="search_terms_radio" type="radio" id="query_by_object" name="which_query" value="object_name" {% if form.which_query.value == "object_name" %}checked {% endif %} />
                    {{ form.object_name.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_object_fields"> 
                    {{ form.object_name }}
                    <span class="search_terms_help">{{ form.object_name.help_text }}</span>
                </fieldset> 
            </li>
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_date">
                    <input class="search_terms_radio" type="radio" id="query_by_date" name="which_query" value="date" {% if form.which_query.value == "date" %}checked {% endif %} />
                    {{ form.date.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_date_fields">
                    {{ form.date }}
                    <span class="search_terms_help">{{ form.date.help_text }}</span>
                </fieldset> 
            </li>        
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_file">
                    <input class="search_terms_radio" type="radio" id="query_by_file" name="which_query" value="filename" {% if form.which_query.value == "filename" %}checked {% endif %} />                
                    {{ form.filename.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_filename_fields">
                    {{ form.filename }}
                    <span class="search_terms_help">{{ form.filename.help_text }}</span>    
                </fieldset> 
            </li>
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_coords">
                    <input class="search_terms_radio" type="radio" id="query_by_coords" name="which_query" value="coord" {% if form.which_query.value == "coord" %}checked {% endif %} />                
                    {{ form.coord.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_coords_fields">
                    {{ form.coord }}
                    <span class="search_terms_help">{{ form.coord.help_text }}</span>
                </fieldset> 
            </li>
        </ul>      
    </fieldset>
    <fieldset id="instrument" class="search_form_instr">
        <legend class="header2">Instruments</legend>
        {{ form.instruments }}
        <button id="instrument_all" type="button">Select All</button>
        <button id="instrument_none" type="button">Deselect All</button>
    </fieldset>
    <fieldset id="results">
        <legend class="header2">Result Format</legend>
        <ul role="list" class="search_field_list">
            <li class="search_field_item"><label for="{{ form.count.1.id_for_label }}">{{ form.count.1.tag }}{{ form.count.1.choice_label }}</label>
                <fieldset id="fields" class="search_form_fields">
                    <label for="id_page_size">Results / page</label>{{ form.page_size }}
                    <label for="id_coord_format">RA/DEC format</label>{{ form.coord_format }}
                    <label for="id_sort_fields">{{ form.sort_fields.label }}</label><span>{{ form.sort_fields }}{{ form.sort_dir }}</span>
                    <label for="id_result_fields">{{ form.result_fields.label }}</label>{{ form.result_fields }}
                </fieldset>  
            </li>
            <li class="search_field_item"><label for="{{ form.count.0.id_for_label }}">{{ form.count.0.tag }}{{ form.count.0.choice_label }}</label></li>
        </ul>
    </fieldset>

    <button type="submit" name="page" value="1">Submit Query</button>
</form>
<section class="search_results">
<h2 class="header2">Search Results</h2>

{% if result_list is None or result_list|length == 0 %}
    Number of results: {{ result_count }}
{% else %}    
<div class="search_results_controls">    
    <span class="search_results_head_page_controls">
        Showing results {{ start_result }} - {{ end_result }} of {{ result_count }} results.<br>
        {{ form.page }}
    </span>
    <span class="search_results_head_download_controls">
        <button id="download_selected_head" class="results_download">Download Selected</button>
        <button id="download_all_head" class="results_download">Download All</button>
    </span>
</div>
<table id="search_results_table" class="search_results_table">
    <thead>
        <tr>
            <th class="search_results_header search_results_select" scope="col">Select All<br><input type="checkbox" id="search_results_hdr_select" /></th>
            {% for result_field, units in result_fields  %}
                <th class="search_results_header" scope="col">{{ result_field }}{% if units is not None %}<br><span class="result_table_units">({{units}})</span>{% endif %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result in result_list %}
            <tr>
                <td class="search_results_data search_results_select"><input type="checkbox" id="result_select_{{ forloop.counter0 }}"/></td>
                {% for value in result|slice:"1:" %}    
                    <td class="search_results_data">{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="search_results_controls">
    <span class="search_results_foot_page_controls">
        Number of results in page: {{ result_list|length }}<br>        
        {{ form.page }}
    </span>
    <span class="search_results_foot_download_controls">
        <button id="download_selected_foot" class="results_download">Download Selected</button>
        <button id="download_all_foot" class="results_download">Download All</button>
    </span>
</div>
{% endif %}
</section>
{% if form.errors|length > 0 %}
<p>
Errors:
    {{ form.errors }}
</p>
{% endif %}
</main>
<footer>
Footer text?
</footer>
<script src="static/frontend/frontend.js"></script>
</body>
</html>