[ingest_watchdog]
data_root = {{ archive_data_root }}
startup_resync_age = 7
{% if remote_watchdog %}
method = inotify
{% else %}
method = polling
{% endif %}
polling_interval = 60
polling_searches=60:2,300:7
polling_write_delay = 60
inotify_age = 7
instrument_dirs = {{ supported_instrument_dirs|join(', ') }} 
{% if remote_watchdog %}
ingest_url = http://{{ groups['ingest_servers']|first }}:{{ingest_port}}/ingest/
{% else %}
ingest_url = http://localhost:{{ingest_port}}/ingest/
{% endif %}
ingest_retry_max_delay = 10
ingest_retry_max_time=120
ingest_request_timeout=30
