:root {
  --header-image-height: 90px;
  --header-height: calc(var(--header-image-height) + 1lh);
  --header-with-spacing: calc(var(--header-height) + 2ex);
  --search-form-width: 1000px;
  --sidebar-width: 19em;
  --sidebar-spacing: 2em;
  --body-background: #121212;
  --body-background-contrast: #212121;
  --selected-background:#264b5d;
  --header-background: #417690;
  --header-title-text: #f5dd5d;
  --header-text: #f7f7f7;
  --header-link: yellow;
  --header-link-hover: #473c02;
  --subheader-background: #264b5d;  
  --subheader-text: #e0e0e0;
  --button-border: #264b5d;
  --body-text:  #81d4fa;
  --selected-text:#95deff;
  --body-link: #81d4fa;
  --body-link-hover: #365665;
  --focus: white;
  --results-border:var(--body-background);
  --disabled-text: #878787;
  --disabled-selected-text:#898989;
  --disabled-selected-background: #202020;
  --disabled-background: #181818;
  --error-text: #e30000;
}

select, input {
  border-color: var(--body-background-contrast);
  background-color:var(--body-background);
  color: var(--body-text);
}    

select:disabled, input:disabled {
  color: var(--disabled-text);
  background-color: var(--disabled-background);
}

fieldset:disabled > label, fieldset:disabled >  .search_terms_help{
  color: var(--disabled-text);  
}
option {
  color: var(--body-text);
  background-color:var(--body-background);
}
optgroup {
  color: var(--body-text);
  background-color: var(--body-background);
}
select[multiple] option:checked {
  color: var(--selected-text);
  background-color:var(--selected-background);
}
select[multiple]:disabled {
  color: var(--disabled-text);
  background-color: var(--disabled-background);
}
select[multiple]:disabled optgroup, select[multiple]:disabled option{
  color: var(--disabled-text);
  background-color: var(--disabled-background);
}

select[multiple]:disabled option:checked {
  color: var(--disabled-selected-text);
  background-color: var(--disabled-selected-background);
}

button {
  color: var(--body-text);
  border-color: var(--button-border);
  background-color: var(--body-background-contrast);
  font-weight: bold;
}
::selection {
  color: var(--selected-text);
  background-color:var(--selected-background)
}

label:has(> input[type="radio"]:checked) {
  font-weight: bold;
}
body{
  background-color: var(--body-background);
  font-family: sans-serif;
  color: var(--body-text);
}
.search_body {
    margin: 0;
    display: grid;
    grid-template-areas: "header  header"
                         "sidebar main";
    grid-template-columns: minmax(auto,var(--sidebar-width)) 3fr;
    grid-column-gap: 2%;
    grid-row-gap: 0;
  }
  
  a {
    color: var(--body-link);
    text-decoration: underline;
  }
  
  a:hover {
    color: var(--body-link-hover);
  }
  
  
fieldset {
  border: none;
  background-color: var(--body-background);
  padding: 0;
}
.header2 {
    font-size: 1.25rem;
    font-weight: bold;
    padding:0;
    width:100%;
    background-color: var(--subheader-background);
    color: var(--subheader-text);
    text-indent: 0.5rem;
    line-height: 2rem;
    max-width: var(--search-form-width);
  }
  
  
  header {
    grid-area: header;
    min-height: var(--header-image-height);/*100px;*/
    background-color: var(--header-background);
    color: var(--header-text);
    /*margin-left: 19em;*/
    position: sticky;
    top: 0;
    z-index: 3;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    /*background-color: #eeb;*/  
  }
 
  .header_image {
    border: none;
    /* Keep approxiate aspect ratio for header image*/
    width: var(--header-image-height) * 1.11;
    height: var(--header-image-height);
    object-fit: scale-down;
    vertical-align: middle;
  }
  header > h1 {
    font-size: 2lh;
    font-weight: bold;
    margin:0;
    color: var(--header-title-text);
  }
  .user_section{
    padding-right: 1rem;
    color: var(--header-text);
    font-size: 1.25rem;
  }

  .user_section > a {
    color: var(--header-link);
    text-decoration: underline;
  }

  .user_section > a:hover {
    color: var(--header-link-hover);
  }

  .user_section > em {
    font-weight: bold;
    font-style: normal;
  }
  
  .user_logout {
    border: none;
    background: none;
    text-align: left;
    color: var(--header-link);
    text-decoration: underline;
    font-size: 1.25rem;
  }
  .user_logout:hover {
    color: var(--header-link-hover);
    background: none;
    outline: none;
  }
  .user_logout:focus {
    outline-style:solid;
    outline-color:var(--focus);
  }

  .nav_sidebar {
    grid-area: sidebar;
    /*position: sticky;
    top: 0;
    height: 100vh;*/
    z-index: 2;
    background-color: var(--body-background);
  }
  .nav_section {
    background-color: var(--body-background-contrast);
    line-height: 2rem;
    margin-bottom: 2.5rem;
    padding-bottom: .5lh;
  }
  .nav_section > h1 {
    margin-top: 0;
    margin-bottom: 0.5ex;
    padding-left: 0.5rem;
    background-color: var(--subheader-background);
    color: var(--subheader-text);
    font-size: 1.25rem;
    font-weight:bold;
  }
  .nav_links_list {
    list-style-type: none;
    margin-top: 0;
    /*margin-left: 2em;*/
    margin-left: 10%;
    padding-left: 0;
  }

  main {
    /*margin-left: calc(var(--sidebar-width) + var(--sidebar-spacing));*/
    /*padding-top: var(--header-with-spacing); /*100px;*/
    grid-area: main;
    /*width: 45em;*/
    
  }

  
  .search_results_table {
    border-collapse: collapse;
    grid-area: results;
    margin-block: 1ex;
  }

  .search_results_table  > tbody tr:nth-child(odd){
    background-color: var(--body-background);
  }
  .search_results_table  > tbody tr:nth-child(even){
    background-color: var(--body-background-contrast);
  }
  .search_results_data {
    padding-right: .5em;
    padding-left: .5em;
    vertical-align: bottom;
    white-space: nowrap;
    border: 2pt solid var(--body-background);
  }
  
  .search_results_header {
    background-color: var(--subheader-background);
    color: var(--header-text);
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    vertical-align: bottom;
    position: sticky;
    z-index: 1;
    top: 0;
    border: 2pt solid var(--body-background);
    padding-inline: 0.5em;
  }

  .search_results_select {
    text-align: center;
  }


  .search_form {
    max-width: var(--search-form-width);
    margin-block-end: 4ex;
  }

  .search_form_list {
    list-style-type: none;
    padding-left: 0;
  }

  .search_terms_option {
    display: flex;
    padding-block: 0.5em;
    margin-bottom: 2lh;
    background-color: var(--body-background-contrast);
  }
  .search_terms_grid {
    border: none;
    display: grid;
    background-color: inherit;
    grid-template-columns: 7em 8em 8em;
    column-gap: 1em;
    text-align: center;
    padding-left: 1em;
    grid-template-areas: "c d e"
                         "g f f";
  }

  .search_terms_radio {
    width: 2em;
    padding: 0;
    margin: 0;
    border-width: 0;
    background-color: inherit;
  }

  .search_terms_label {
    text-align: left;
    width: 12rem;
    background-color: inherit;
  }

  /* The label surrounding the "operator" column of the search term" */
  .search_terms_operator_label {
    grid-area: c;
  }
  /* The labels surrounding the values of the search term, which may have
     one or two labels
  */
  .search_terms_value1_label {
    grid-area: d;
  }
  
  .search_terms_value2_label {
    grid-area: e;
  }

  /* Data entry widgets should fill their grid cell,
  and not let borders/padding/margins exceed that cell */
  .search_terms_operator,
  .search_terms_value1,
  .search_terms_value2  {
    width: 100%;
    box-sizing: border-box;   
  }

  /* For search terms input, we want selection boxes to be centered,
     but text input to be left aligned */
  .search_terms_grid > label > select {
    text-align: center;
  }
  .search_terms_grid > label > input {
    text-align: left;
  }

  .search_terms_modifier_label {
    grid-area: g;
    font-size: smaller;
  }

  .search_terms_help {
    grid-area: f;
    font-size: smaller;
    text-align: left;
  }

  .search_terms_help > ul {
    list-style-type: none;
  }
  .search_terms_help > p {
    list-style-type: none;
    margin-bottom: 0;
  }


  .search_form_instr {
    margin-bottom: 2lh;
  }
  .search_instr_check {
    line-height:2lh;
    background-color: var(--body-background-contrast);
    padding-bottom: 1em;
  }
  .search_field_list {
    list-style-type: none;
    padding-left: 0;
  }

  .search_fields_radio {
    margin-right: 1em;
  }
  .search_field_item {
    background-color: var(--body-background-contrast);
    padding-block: .5lh;
    padding-bottom: 1lh;
  }
  .search_form_fields {
    border: none;
    background-color:inherit;
    margin-top: 1lh;
    margin-bottom: .5lh;
    margin-left: 4em;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 9em max-content;
    column-gap: 0.5em;
    row-gap: 1ex;
    justify-items: left;
  }
  
  .search_fields_input_small {
    width: 4em;
  }
  .search_fields_input_big {
    width: 13em;
  }

  .search_fields_check {
    margin-right: 1em;
  }
  .search_form_fields > label {
    text-align: left;
    width: 8em
  }

  .results_header {
    margin-top: 1lh;
    margin-bottom: 0.5lh;
  }

  .results_footer {
    margin-top: 0.5lh;
  }

  .search_results {
    /*display: grid;
    grid-template-areas: 
      "pg_head    .    down_head"
      "results results results"
      "pg_foot      .  down_foot";*/
    max-width: var(--search-form-width);
  }

  .search_results_controls {
    display: flex;
    justify-content: space-between;
  }
  .search_results_head_page_controls {
    grid-area: pg_head;
  }
  .search_results_head_download_controls {
    grid-area: down_head;
    align-self: end;
    justify-self: end;
  }

  .search_results_foot_page_controls {
    grid-area: pg_foot;
  }
  .search_results_foot_download_controls {
    grid-area: down_foot;
    justify-self: end;
  }

  .login_header {
    background-color: var(--header-background);
    color: var(--header-title-text);
    margin-block: 0;
  }

  .login_message {
    font-weight: bold;
  }

  .login_message > em {
    font-style: normal;
    font-family: monospace;
  }

  .login_error {
    font-weight: bold;
    color: var(--error-text);
  }

  .login_form {
    background-color: var(--body-background-contrast);
    width: fit-content;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-left: 1.5rem;
  }