- name: Copy ingest_watchdog
  ansible.builtin.copy: 
    src: scripts/ingest_watchdog.py
    dest: "{{ venv_root }}/bin"
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    mode: 0770
  become: yes
- name: Create config directory
  ansible.builtin.file:
    mode: 0770
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    state: directory
    dest: "{{ venv_root }}/etc"
  become: yes
- name: Create ingest_watchdog.conf
  ansible.builtin.template:
    mode: 0660
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    src: templates/lick_archive.conf.j2
    dest: "{{ archive_config_dir }}/{{ watchdog_config }}"
  become: yes
- name: Create logging directory
  ansible.builtin.file:
    mode: 0770
    owner: "{{ archive_service_user }}"
    group: "{{ archive_service_group }}"
    state: directory
    dest: "{{ archive_log_dir }}"
  become: yes
- name: Add archive user to the archive data group
  ansible.builtin.user:
    name:   "{{ archive_service_user }}"
    groups: "{{archive_nfs_group}}"
    append: yes
  become: yes
- name: Add systemd service
  ansible.builtin.template:
    src: templates/ingest_watchdog.service.j2
    dest: /etc/systemd/system/ingest_watchdog.service
  become: yes
- name: Start systemd service
  ansible.builtin.systemd:
    name: ingest_watchdog.service
    enabled: yes
    daemon_reload: yes
    state: started
  become: yes
