# gunicorn settings, see https://docs.gunicorn.org/en/latest/settings.html#logging
wsgi_app = "lick_searchable_archive.wsgi:application"

bind = ['127.0.0.1:{{ ingest_port }}']

logconfig_dict = {
    'version':1,
    'disable_existing_loggers': False,
    'handlers': {
        'gunicorn_file': {
{% if inventory_file.split('/')|last == "ops" %}
            'class': 'logging.handlers.TimedRotatingFileHandler',
            'filename': '{{ gunicorn_log }}',   
            'level': 'INFO',
            'when': 'D',
            'interval': 1,
            'backupCount': 14,

{% else %}
            'class': 'logging.FileHandler',
            'filename': '{{ gunicorn_log }}',   
            'level': 'DEBUG',         
{% endif %}
        },
    },
    'loggers': {
        '': {
{% if inventory_file.split('/')|last == "ops" %}
            'level': 'INFO',         
{% else %}
            'level': 'DEBUG',         
{% endif %}
            'handlers': ['gunicorn_file']
        },
    },
}
# Seems to be needed by gunicorn, see https://github.com/benoitc/gunicorn/issues/2250
logconfig_dict['root'] = {
    'level': 'WARNING',
    'handlers': ['gunicorn_file'],
}