body {
    background-color: #eeb;
    margin: 0;
    font-family: sans-serif;
  }
  
  a {
    color: blue;
    text-decoration: underline;
  }
  
  a:hover {
    color: #f70;
  }
  
  
  h1 {
    font-size: 125%;
    font-weight: normal;
  }
  
  fieldset > legend {
    font-size: 125%;
    font-weight: normal;
  }

  
  header {    
    width: 100vw;
    height: 100px;
    margin-left: 19em;
    position: fixed;
    top: 0;
    background-color: #eeb;
  }
 
  header > img {
    border: none;
    background-color: white;
    width: 640px;
    height: 89px;
    object-fit: contain;
    /* center image
    display: block;
    margin: auto; */ 
  }
  
  .nav_sidebar {
    position: fixed;
    top: 0;
    z-index: 1;
    padding-top: 100px;
    padding-left: 1em;
    margin-right: 1em;
    width: 18em;
    height: 100vh;
    background-color: rgb(100, 234,100);
  }
  .nav_section > h1 {
    margin-top: 0;
    margin-bottom: 0.5ex;
  }
  .nav_links_list {
    list-style-type: none;
    margin-top: 0;
    margin-left: 1em;
    padding-left: 0;
  }

  main {
    background-color: #eeb;
    margin-left: 19em;
    padding-top: 100px;
    /*width: 45em;*/
    width: 640px;
  }

  
  p.text {
    font-family: serif;
    font-size: 100%;
    font-weight: normal;
    text-indent: 0px;
  }
  
  p.sans {
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-indent: 20px;
  }
  
  
  
  td {
    padding-right: .5em;
    padding-left: .5em;
    vertical-align: bottom;
    border: solid 1pt;
    border-spacing: 0pt;
    border-color: #ccc;
    background-color: #eeb;
    white-space: nowrap;
  }
  
  th {
    border: solid 1pt;
    border-color: #ccc;
    background-color: #eeb;
    color: blue;
    font-family: sans-serif;
    font-weight: normal;
    text-align: left;
    position: sticky;
    top: 100px;
  }

  .search_form_list {
    list-style-type: none;
    padding-left: 2em;
  }

  .search_terms_option {
    display: flex;
    padding-left: 0;
  }
  .search_terms_grid {
    border: none;
    display: grid;
    grid-template-columns: 7em 8em 8em;
    column-gap: 1em;
    text-align: center;
    padding-left: 2em;
    grid-template-areas: "c d e"
                         "g f f";
  }

  .search_terms_radio {
    width: 2em;
    padding: 0;
    margin: 0;
    border-width: 0;
  }

  .search_terms_label {
    grid-area: b;
    text-indent: -2em;
    text-align: left;
    width: 8em;
  }

  .search_terms_operator {
    grid-area: c;
    width: 100%;
    text-align: center;

  }
  /* The radius field for the location query
     should be left justified, like the other
     text entry fields */
  .search_terms_operator_label > input {
    text-align: left;
    width: 8em;

  }
  .search_terms_operator_label {
    grid-area: c;
  }


  .search_terms_modifier_label {
    grid-area: g;
    width: 100%;
    font-size: smaller;

  }


  .search_terms_value {
    grid-area: d;
    width: 100%;
  }

  .search_terms_help {
    grid-area: f;
    font-size: smaller;
    text-align: left;
  }

  .search_terms_help > ul {
    list-style-type: none;
  }
  .search_terms_help > p {
    list-style-type: none;
    margin-bottom: 0;
  }

  .search_terms_ra_label {
    grid-area: d;
  }
  .search_terms_ra {
      width: 100%;
  }
  .search_terms_dec_label {
    grid-area: e;
  }
  .search_terms_dec {
    width: 100%;
  }
  .search_terms_start {
    grid-area: d;
    width: 100%;
  }
  .search_terms_end {
    grid-area: e;
    width: 100%;
  }
  .search_field_list {
    list-style-type: none;
    padding-left: 0;
  }

  .search_form_fields {
    border: none;
    margin-left: 2em;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 9em max-content;
    column-gap: 0.5em;
    row-gap: 1ex;
    justify-items: left;
  }
  
  .search_fields_input_small {
    width: 4em;
  }
  .search_fields_input_big {
    width: 13em;
  }
  .search_fields_check {
    margin-right: 1em;
  }
  .search_form_fields > label {
    text-align: left;
    width: 8em
  }
