body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
  }
  
  a {
    /* color: #000; */
    color: blue;
    text-decoration: underline;
  }
  
  a:hover {
    color: #f70;
  }
  
  
  h1 {
    font-family: serif ;
    font-size: 150% ;
  }
  
  h2 {
    font-family: serif ;
    font-size: 125% ;
  }
  
  header {
    background-color: white;
    
    width: 100vw;
    height: 89px;
    position: fixed;
    top: 0;

  }
 
  header > img {
    border: none;
    padding-left: 19em;
    
    width: 640px;
    height: 89px;
    object-fit: contain;
    /* center image
    display: block;
    margin: auto; */
  }
  
  .nav_sidebar {
    position: fixed;
    top: 100px;
    margin-top: 0;
    padding-left: 1em;
    margin-right: 1em;
    width: 18em;
    height: 100vh;
    background-color: rgb(100, 234,100);
  }
  main {
    background-color: #eeb;
    margin-left: 19em;
    margin-top: 100px;
    width: 50em;
  }

  
  p.text {
    font-family: serif;
    font-size: 100%;
    font-weight: normal;
    text-indent: 0px;
  }
  
  p.sans {
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-indent: 20px;
  }
  
  
  table {
    /* border-spacing: 1pt; */
  }
  
  td {
    /* padding-bottom: 1em; */
    padding-right: .5em;
    padding-left: .5em;
    /* text-align: left; */
    vertical-align: bottom;
    border: solid 1pt;
    border-spacing: 0pt;
    border-color: #ccc;
    /*border-right: hidden;
    border-left: hidden;*/
    background-color: #eeb;
    /* width: 75px; */
  }
  
  th {
    border: solid 1pt;
    border-color: #ccc;
    background-color: #eeb;
    color: blue;
    font-family: sans-serif;
    font-weight: normal;
    text-align: left;
  }
  
  .search_terms_option {
    border: none;
  }

  .search_terms_grid {
    border: none;
    display: grid;
    grid-template-columns: max-content 8em 7em 10em 10em;
    column-gap: 1em;
    /*align-items: center;*/
    grid-template-areas: "a b c d e"
                         ". b g f f";
  }

  .search_terms_radio {
    grid-area: a;
    vertical-align: middle;
    /*padding: 0px;*/
  }

  .search_terms_label {
    grid-area: b;
    display: inline-block;
    vertical-align: middle;
    width: 8em;
    height: min-content;
  }

  .search_terms_operator {
    grid-area: c;
    width: 8em;
    vertical-align: middle;
    justify-self: center;
    text-align: center;
    height: min-content;

  }


  .search_terms_modifier_label {
    grid-area: g;
    width: 8em;
    vertical-align: middle;
    justify-self: center;
    text-align: center;
    height: min-content;
    font-size: smaller;

  }


  .search_terms_value_0 {
    grid-area: d;
    justify-self: center;
    box-sizing: border-box;
    width: 100%;
    vertical-align: middle;
    height: min-content;
  }
  .search_terms_value_1 {
    grid-area: e;
    justify-self: center;
    box-sizing: border-box;
    width: 100%;
    vertical-align: middle;
    height: min-content;
  }
  /*
  .search_terms_date_range {
    grid-area: d;
    vertical-align: middle;
    height: min-content;
  }*/
  .search_terms_help {
    grid-area: f;
    font-size: smaller;
  }

  .search_terms_value {
    vertical-align: middle;
    height: min-content;
  }

  /*  .search_form_terms {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 4fr 4fr;
    grid-template-areas: "r l o v ."
                         "r l o v v"
                         "r l o v .";
  }

.search_terms_radio {
  grid-area: r;
}

.search_terms_label {
  grid-area: l;
}

.search_terms_operator {
  grid-area: o;
}

.search_terms_value {
  grid-area: v;
}
*/
  /*
  .search_form_fields {
    border: none;
    display: grid;
    grid-template-columns: 7em 33%;
    column-gap: 1em;
    row-gap: 1ex;
  }
  .search_form_fields > label {
    text-align: right;
  }
*/

  /*.search_form_fields {
    border: none;
    display: block;
    justify-content: space-around;
  }*/

  .search_form_list {
    list-style-type: none;
    padding-left: 0;
  }
  .search_field_list {
    list-style-type: none;
    padding-left: 1em;
  }

  .search_form_fields {
    border: none;
    margin-left: 2em;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 9em max-content;
    column-gap: 0.5em;
    row-gap: 1ex;
    justify-items: left;
    /*align-items: center;*/
    /*grid-template-areas: "a b c d e"
                         ". b g f f"; */
  }
  
  .search_fields_input_small {
    width: 4em;
  }
  .search_fields_input_big {
    width: 13em;
  }
  .search_fields_check {
    margin-right: 1em;
  }
  .search_form_fields > label {
    text-align: left;
    width: 8em
  }
  /*
  .field_select_box > select {
    width: 15em
  }
  */