<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mt. Hamilton Data Repository Search - Beta</title>
    <link rel="stylesheet" type="text/css" href="/static/frontend/repository.css"/>
</head>
<body>
<header>
<h1>Mt. Hamilton Data Repository Search - Beta</h1>
</header>
<main>
<form id="archive_query" class="search_form" method="POST" enctype="application/x-www-form-urlencoded" action="{{ archive_url }}">
    {% csrf_token %}
    <fieldset id="search_form_terms" class="search_form_terms">
        <legend>Search</legend>


        <fieldset class="search_terms_grid">
            <input class="search_terms_radio" type="radio" id="query_by_object" name="which_query" value="object_name" {% if form.which_query.value == "object_name" %}checked {% endif %} />
            <label class="search_terms_label" for="query_by_object">{{ form.object_name.label }}</label>        
            {{ form.object_name }}
            <span class="search_terms_help">{{ form.object_name.help_text }}</span>
        </fieldset> 
        
        <fieldset class="search_terms_grid">
            <input class="search_terms_radio" type="radio" id="query_by_date" name="which_query" value="date" {% if form.which_query.value == "date" %}checked {% endif %} />                
            <label class="search_terms_label" for="query_by_date">{{ form.date.label }}</label>         
            {{ form.date }}
            <span class="search_terms_help">{{ form.date.help_text }}</span>
        </fieldset> 
        
        <fieldset class="search_terms_grid">
            <input class="search_terms_radio" type="radio" id="query_by_file" name="which_query" value="filename" {% if form.which_query.value == "filename" %}checked {% endif %} />                
            <label class="search_terms_label" for="query_by_file">{{ form.filename.label }}</label>        
            {{ form.filename }}
            <span class="search_terms_help">{{ form.filename.help_text }}</span>
    
        </fieldset> 
        
    </fieldset>
    <fieldset id="results">
        <legend>Search Results</legend>
        <ul class="search_form_list">
            <li><label for="{{ form.count.0.id_for_label }}"> {{ form.count.0.tag }} {{ form.count.0.choice_label }}</label></li>
            <li>
                <label for="{{ form.count.1.id_for_label }}>"> {{ form.count.1.tag }} {{ form.count.1.choice_label }}
                    <fieldset id="fields" class="search_form_fields">
                        <span class="field_select_box"><label for="id_result_fields">{{ form.result_fields.label }}</label>{{ form.result_fields }}</span>
                        <span class="field_select_box"><label for="id_sort_fields">{{ form.sort_fields.label }}</label>{{ form.sort_fields }}</span>
                    </fieldset>
                </label>
            </li>
            <button id="reset_fields" type="button">Use Default Fields</button>
        </ul>
    </fieldset>

    <button name="submit">Submit Query</button>
</form>
{% if result_count is not None %}
    Number of results: {{ result_count }}
{% elif result_list is not None %}
    {% if result_list|length > 1 %}
        {{ previous_link }} {{ next_link}}
        <table>
            <tr>
                {% for result_field in result_fields  %}
                    <th scope="col">{{ result_field }}</th>
                {% endfor %}
            </tr>
            {% for result in result_list %}
                <tr>
                    {% for value in result %}    
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {{ previous_link }} {{ next_link}}
    {% endif %}
    Number of results in page: {{ result_list|length }}
{% endif %}
{% if form.errors|length > 0 %}
    <p>
    Errors:
        {{ form.errors }}
    </p>
{% endif %}
</main>
<footer>
Footer text?
</footer>
<script>
    const objectRadioInput = document.getElementById("query_by_object")
    const dateRadioInput = document.getElementById("query_by_date")
    const filenameRadioInput = document.getElementById("query_by_file")

    const objectOperator = document.getElementById("id_object_name_0")
    const objectText = document.getElementById("id_object_name_1")

    const dateOperator = document.getElementById("id_date_0")
    const dateStart = document.getElementById("id_date_1")
    const dateEnd = document.getElementById("id_date_2")

    const filenameOperator = document.getElementById("id_filename_0")
    const filenameText = document.getElementById("id_filename_1")
    const resetFieldsButton = document.getElementById("reset_fields")

    const resultFields = document.getElementById("id_result_fields")
    const sortFields = document.getElementById("id_sort_fields")

    objectRadioInput.addEventListener("change", enableAndDisableFields)
    dateRadioInput.addEventListener("change", enableAndDisableFields)
    filenameRadioInput.addEventListener("change", enableAndDisableFields)
    resetFieldsButton.addEventListener("click", resetResultAndSortFields)

    document.addEventListener("DOMContentLoaded", enableAndDisableFields)


    function resetResultAndSortFields(value) {
        for (var i = 0; i < resultFields.options.length; i++) {
            resultFields.options[i].selected = resultFields.options[i].defaultSelected
        }
        for (var i = 0; i < sortFields.options.length; i++) {
            sortFields.options[i].selected = sortFields.options[i].defaultSelected
        }
    }

    function setObjectQueryDisabled(value) {
        objectOperator.disabled=value
        objectText.disabled=value
    }

    function setDateQueryDisabled(value) {
        dateOperator.disabled=value
        dateStart.disabled=value
        dateEnd.disabled=value
    }
    function setFilenameQueryDisabled(value) {
        filenameOperator.disabled=value
        filenameText.disabled=value
    }
    function enableAndDisableFields() {
        if (objectRadioInput.checked) {
            setObjectQueryDisabled(false)
            setDateQueryDisabled(true)
            setFilenameQueryDisabled(true)
        } else if (dateRadioInput.checked) {
            setObjectQueryDisabled(true)
            setDateQueryDisabled(false)
            setFilenameQueryDisabled(true)
        }
        else {
            setObjectQueryDisabled(true)
            setDateQueryDisabled(true)
            setFilenameQueryDisabled(false)
        }
    }
</script>
</body>
</html>