<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mt. Hamilton Data Repository Search - Beta</title>
    <link rel="stylesheet" type="text/css" href="/static/frontend/repository.css"/>
</head>
<body class="search_body">
<header>
    <H1><img class="header_image" src="/static/frontend/lick_logo.png" width="1150" height="1033" alt="Lick Observatory Logo">Mt. Hamilton Data Repository - Beta</H1>
    {% if username|length > 0 %}
    <form id="archive_logout" class="user_section" method="POST" action="{{ logout_url }}">
        {% csrf_token %}
        You are logged in as <em class="user_name">{{ username }}</em> <button class="user_logout" type="submit" name="logout" form="archive_logout">Logout here</button>
    </form>
    {% else %}
    <span class="user_section">
        You are not logged in. <a href="{{ login_url }}">Login here</a>
    </span>
    {% endif %}
</header>
<nav class="nav_sidebar">
    <section class="nav_section">
        <H1>Links</H1>
        <ul class="nav_links_list">
        <li>
            <a href="https://mthamilton.ucolick.org/data/">Browse the repository by date</a>
        </li>            
        <li><a href="https://mthamilton.ucolick.org/">Mt Hamilton Home Page</a></li>
        <li><a href="https://www.ucobservatories.org/">UC Observatories Home Page</a></li>
        </ul>
    </section>
    <section class = "nav_section">
        <H1>Documentation</H1>
        <ul class="nav_links_list">
        <li>            
            <a href="https://mthamilton.ucolick.org/data/help/">How to use the repository</a>
        </li>
        <li>
            <span class="nav_tbd_link">Description of all fields</span>
        </li>
    </ul>
    </section>
</nav>
<main>
<form id="archive_query" class="search_form" method="POST" action="{{ archive_url }}">
    {% csrf_token %}
    <fieldset id="search_form_terms" class="search_form_terms">
        <legend>Search By</legend>
        <ul role="list" class="search_form_list">
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_object">                        
                    <input class="search_terms_radio" type="radio" id="query_by_object" name="which_query" value="object_name" {% if form.which_query.value == "object_name" %}checked {% endif %} />
                    {{ form.object_name.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_object_fields"> 
                    {{ form.object_name }}
                    <span class="search_terms_help">{{ form.object_name.help_text }}</span>
                </fieldset> 
            </li>
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_date">
                    <input class="search_terms_radio" type="radio" id="query_by_date" name="which_query" value="date" {% if form.which_query.value == "date" %}checked {% endif %} />
                    {{ form.date.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_date_fields">
                    {{ form.date }}
                    <span class="search_terms_help">{{ form.date.help_text }}</span>
                </fieldset> 
            </li>        
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_file">
                    <input class="search_terms_radio" type="radio" id="query_by_file" name="which_query" value="filename" {% if form.which_query.value == "filename" %}checked {% endif %} />                
                    {{ form.filename.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_filename_fields">
                    {{ form.filename }}
                    <span class="search_terms_help">{{ form.filename.help_text }}</span>    
                </fieldset> 
            </li>
            <li class="search_terms_option">
                <label class="search_terms_label" for="query_by_coords">
                    <input class="search_terms_radio" type="radio" id="query_by_coords" name="which_query" value="coord" {% if form.which_query.value == "coord" %}checked {% endif %} />                
                    {{ form.coord.label }}
                </label>
                <fieldset class="search_terms_grid" id="id_coords_fields">
                    {{ form.coord }}
                    <span class="search_terms_help">{{ form.coord.help_text }}</span>
                </fieldset> 
            </li>
        </ul>      
    </fieldset>
    <fieldset id="instrument" class="search_form_instr">
        <legend>Instruments</legend>
        {{ form.instruments }}
        <button id="instrument_all" type="button">Select All</button>
        <button id="instrument_none" type="button">Deselect All</button>
    </fieldset>
    <fieldset id="results">
        <legend>Search Results</legend>
        <ul role="list" class="search_field_list">
            <li class="search_field_item"><label for="{{ form.count.1.id_for_label }}">{{ form.count.1.tag }}{{ form.count.1.choice_label }}</label>
                <fieldset id="fields" class="search_form_fields">
                    <label for="id_page_size">Results / page</label>{{ form.page_size }}
                    <label for="id_coord_format">RA/DEC format</label>{{ form.coord_format }}
                    <label for="id_sort_fields">{{ form.sort_fields.label }}</label><span>{{ form.sort_fields }}{{ form.sort_dir }}</span>
                    <label for="id_result_fields">{{ form.result_fields.label }}</label>{{ form.result_fields }}
                </fieldset>  
            </li>
            <li class="search_field_item"><label for="{{ form.count.0.id_for_label }}">{{ form.count.0.tag }}{{ form.count.0.choice_label }}</label></li>
        </ul>
    </fieldset>

    <button type="submit" name="page" value="1">Submit Query</button>
</form>
<p class="results_header">
{% if result_list is None or result_list|length == 0 %}
    Number of results: {{ result_count }}
</p>
{% else %}
    Showing results {{ start_result }} - {{ end_result }} of {{ result_count }} results.
    <br>{{ form.page }}
</p>
<table class="search_results_table">
    <thead>
        <tr>
            {% for result_field, units in result_fields  %}
                <th class="search_results_header" scope="col">{{ result_field }}{% if units is not None %}<br><span class="result_table_units">({{units}})</span>{% endif %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result in result_list %}
            <tr>
                {% for value in result %}    
                    <td class="search_results_data">{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<p class="results_footer">
    {{ form.page }}<br>
    Number of results in page: {{ result_list|length }}
</p>
{% endif %}
{% if form.errors|length > 0 %}
<p>
Errors:
    {{ form.errors }}
</p>
{% endif %}
</main>
<footer>
Footer text?
</footer>
<script>
    const objectRadioInput = document.getElementById("query_by_object")
    const dateRadioInput = document.getElementById("query_by_date")
    const filenameRadioInput = document.getElementById("query_by_file")
    const locationRadioInput = document.getElementById("query_by_coords")
    const countRadioInput = document.getElementById("id_count_0")
    const resultsRadioInput = document.getElementById("id_count_1")

    const objectFields = document.getElementById("id_object_fields")
    const dateFields = document.getElementById("id_date_fields")
    const filenameFields = document.getElementById("id_filename_fields")
    const locationFields = document.getElementById("id_coords_fields")
    const resultFields = document.getElementById("fields")

    const instrAllButton = document.getElementById("instrument_all")
    const instrNoneButton = document.getElementById("instrument_none")
    const instrumentCheckboxes = document.getElementsByClassName("search_instr_check")

    objectRadioInput.addEventListener("change", enableAndDisableFields)
    dateRadioInput.addEventListener("change", enableAndDisableFields)
    filenameRadioInput.addEventListener("change", enableAndDisableFields)
    locationRadioInput.addEventListener("change", enableAndDisableFields)
    countRadioInput.addEventListener("change", enableAndDisableResultFields)
    resultsRadioInput.addEventListener("change", enableAndDisableResultFields)
    
    instrAllButton.addEventListener("click", selectInstruments)
    instrNoneButton.addEventListener("click", selectInstruments)

    document.addEventListener("DOMContentLoaded", enableAndDisableFields)

    function selectInstruments(event) {
        if (event.target.id=="instrument_all") {
            value = true
        } else if (event.target.id == "instrument_none") {
            value = false
        }
        else {
            return
        }
        for (checkbox of instrumentCheckboxes) {
            checkbox.checked = value
        }
    }

    function enableAndDisableResultFields() {
        if (countRadioInput.checked) {
            resultFields.disabled=true
        }
        else {
            resultFields.disabled=false
        }
    }

    function enableAndDisableFields() {

        if (objectRadioInput.checked) {
            objectFields.disabled=false
            dateFields.disabled=true
            filenameFields.disabled=true
            locationFields.disabled=true
        } else if (dateRadioInput.checked) {
            objectFields.disabled=true
            dateFields.disabled=false
            filenameFields.disabled=true
            locationFields.disabled=true
        }
        else if (filenameRadioInput.checked) {
            objectFields.disabled=true
            dateFields.disabled=true
            filenameFields.disabled=false
            locationFields.disabled=true
        } else {
            objectFields.disabled=true
            dateFields.disabled=true
            filenameFields.disabled=true
            locationFields.disabled=false
        }
    }
</script>
</body>
</html>